<h3>test</h3>
<div class="konfigurationen">
  <div id="konfiguration_16" class= "row-fluid">
    <!--div class="span1 feedback"></div-->
    <div class="span6">
      eins
    </div>
    <div class="span6">
       zwei
    </div>
  </div>
</div>
