<script type="text/javascript">
    $(document).ready(function () {
        new regel.Builder().initialisieren();
    });
</script>


<div id="regelseite">
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--Content wird vom NeueKonfigurationController erstellt und eingefügt-->
  </div>
</div>

