// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#regelseite {
  div .inaktiv {
    background-color: #FFD6CC;
    &:hover {
      background-color: #FFC2B3;
    }
  }

  //div .mitarbeiterliste{
  //  border: 1px solid #82A0B6;
  // // width: 150px; height: 40px; padding: 0.5em;
  //}

  div .mitarbeiter {
    border: 1px solid #82A0B6;
    border-radius: 0.2em;
    display: inline-block;
    padding: 0 0.2em;
    margin: 0.1em 0;
    color: #000000;
    //white: #FFF;
    &.zugeordnet {
      background: #E8F0FF;
    }
    &.anderer-konfiguration-zugeordnet {
      background: #ffeaf2;
    }
    &.frei {
      background: #ffffff;
    }
  }

  .konfiguration {
    border-top: 1px solid #82A0B6;;
    padding-top: 10px;

    .gruenorangerot {
      .plot {
        background-color: #dbffd0;
        width: 280px;
        height: 100px;
      }
      .input-fields {
        //  padding-left: 65px;
        padding-top: 10px;
      }
      .rot {
        background-color: #ffe2db;
      }
      .orange {
        background-color: #ffeccf;
      }
      .gruen {
        background-color: #dbffd0;
      }
    }

    .position {
      .plot {
        background-color: #dbffd0;
        width: 280px;
        height: 100px;
      }

      .input-element {
        .slider {
          width: 230px;
          margin-left: 20px;
        }

      }
      .slider_wert {
        float: right;
      }


    }

  }

  //div .span1{
  //  border: 1px solid #82A0B6;
  //}
  //div .span4{
  //  border: 1px solid #82A0B6;
  //}
  //div .span5{
  //  border: 1px solid #82A0B6;
  //}
  //div .span6{
  //  border: 1px solid #82A0B6;
  //}
  //
  //div .span12{
  //  border: 1px solid #82A0B6;
  //}
  //
  //div .konfigurationen{
  //  border: 2px solid #82A0B6;
  //
  //}
}